/* Variables */
:root {
	--background: #382742;
	--turquoise: #508686;
	--light-blue: #739cb5;
	--purple: #833f82;
	--light-purple: #ae8ca9;
	--purple-transparent: rgba(131, 63, 130, 0.25);

	--header1-font-size: 5em;
	--header2-font-size: 3em;
	--header3-font-size: 2em;
	--text-font-size: 1.2em;
}

@font-face {
	font-family: 'Martian Mono';
	src: url(src/fonts/MartianMonoNerdFont-Regular.ttf);
}

/* header>nav { display: none !important; } */
/* #Hero { display: none !important; } */
/* #About { display: none !important; } */
/* #Projects { display: none !important; } */
/* #Contact { display: none !important; } */

/* #region CSS Reset */
/* source: https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
	font-family: 'Martian Mono';
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	/* -webkit-font-smoothing: antialiased; */
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}
  
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
	font: inherit;
}
  
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}
  
/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
}  

/* 9. Create a root stacking context */
#root, #__next {
	isolation: isolate;
}
/* #endregion */

/* #region Globabl Styling */
* {
	color: white;
}

html {
	background-color: var(--background);
	position: relative;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

.folder-tab {
	position: absolute;
	bottom: 0;

	padding: 1em 1em 0.5em 1em;

	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-top: 3px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;

	font-size: var(--text-font-size);

	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.3, 0.1, 0.125, 2);
}

.folder-tab:hover {
	padding-bottom: 2em;
}

.turquoise {
	background-color: var(--turquoise);
	left: 50%;
}

.blue {
	background-color: var(--light-blue);
	left: 60%;
}

.light-purple {
	background-color: var(--light-purple);
	left: 70%;
}

.folder {
	height: calc(100vh + 2px);
	width: 50vw;

	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: -1;

	border-left: 2px solid white;
	border-top: 2px solid white;
}

.scroller {
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	height: 100vh;
}

#ribbon {
	display: hidden;
}

.ribbon-l,
.ribbon-r,
.ribbon-corner-l,
.ribbon-corner-r {
	transition-duration: 200ms;
	transition-timing-function: cubic-bezier(0.3, 0.1, 0.125, 2);
}

.ribbon-l {
	position:absolute;
	top: 0;
	right: 100px;

	width: 30px;
	height: 110px;

	background-color: #ff1a1a;
}

.ribbon-corner-l {
	position: absolute;
	top: 80px;
	right: 100px;

	width: 0;
	height: 0;

	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid #ff1a1a;
}

.ribbon-r {
	position: absolute;
	top: 0;
	right: 70px;

	width: 30px;
	height: 110px;

	background-color: #ff2727;
}

.ribbon-corner-r {
	position: absolute;
	top: 80px;
	right: 70px;

	width: 0;
	height: 0;

	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-right: 30px solid #ff2727;
}

#ribbon:hover .ribbon-l,
#ribbon:hover .ribbon-r {
	height: 160px;
}

#ribbon:hover .ribbon-corner-l,
#ribbon:hover .ribbon-corner-r {
	top: 130px;
}

.scroller section {
	scroll-snap-align: center;
}

#Hero,
#About,
#Projects,
#Contact {
	position: relative;
	height: 100vh;

	display: flex;

	justify-content: center;
	align-items: center;
	gap: 5em;
}

#About,
#Projects,
#Contact {
	height: 100vh;

	display: flex;

	justify-content: center;
	align-items: center;
	gap: 5em;
}

#About h2,
#Projects h2,
#Contact h2 {
	font-size: var(--header2-font-size);
	padding-bottom: 1em;
}

#About .about-info,
#About aside,
#Projects .projects-info,
#Projects aside,
#Contact .contact-info,
#Contact aside
 {
	width: calc(50vw - 20em);
}
/* #endregion */

/* #region Hero */
#Hero {
	justify-content: start;
}

#Hero h1 {
	font-size: var(--header1-font-size);
	padding-left: 3em;
}

#Hero-img {
	position: absolute;
	z-index: -2;

	top: 0;
	left: 0;

	opacity: 0.1;
	filter: contrast(100%) blur(30px) hue-rotate(45deg);
}

#Hero-img img {
	width: 100vw;
	height: 100vh;

	object-fit: cover;
	object-position: top center;
}
/* #endregion */

/* #region About Me */
#About .about-info, #About aside {
	width: calc(50vw - 20em);
}

#About p {
	font-size: var(--text-font-size);
	padding-bottom: 1em;
}

#About p a {
	text-decoration: underline;
}

#About p a:visited {
	text-decoration: underline;
}

#About>aside {
	display: flex;
	flex-direction: column;
	justify-content: right;
}

#About aside h2 {
	align-self: center;
}

#About aside .langs {
	display: flex;
	flex-wrap: wrap;

	align-items: center;
	justify-content: center;

	gap: 40px;
}

#About aside .langs div {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
}

#About .langs img {
	width: 32px;
	height: 32px;
}
/* #endregion */

/* #region Projects */
#Projects p {
	font-size: var(--text-font-size);
}

#Projects aside {
	display: flex;
	flex-direction: column;

	gap: 2em;
}

#Projects aside .project {
	display: flex;
	flex-direction: column;
	align-items: start;
	text-align: start;

	gap: 1em;

	padding: 1em;
	cursor: pointer;

	border: 2px solid transparent;
	border-radius: 1em;

	background-color: var(--background);

	transition-duration: 200ms;
}

#Projects aside:has(.project:hover) > *:not(:hover) {
	opacity: 0.5;
}

#Projects aside .project:hover {
	border: 2px solid white;

	box-shadow: 0px 0px 6px 6px var(--purple-transparent);
}

#Projects aside .project * {
	background-color: transparent;
}

#Projects aside .technologies {
	display: flex;
	gap: 1em;
}

#Projects aside h3 {
	font-size: var(--header3-font-size);
}

#Projects aside .technologies>li {
	background-color: var(--turquoise);
	padding: 0.2em 1em;

	border: 0px solid transparent;
	border-radius: 2em;
}

#Projects aside .project a {
	text-decoration: underline;
}
/* #endregion */

/* #region Contact */
#Contact .contact-info {
	display: flex;
	flex-direction: column;
}

#Contact .contact-info ul {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

#Contact .contact-info ul li {
	transition-duration: 200ms;
}

#Contact .contact-info ul li button:hover{
	text-shadow: 0px 0px 20px var(--purple);
}

#Contact .contact-info ul li {
	font-size: var(--text-font-size);
}

.contact-info button {
	padding: 0.5em 1em;

	border-radius: 1em;
	border: 2px solid transparent;

	background-color: var(--background);

	transition-duration: 200ms;
}

.contact-info ul:has(li>button:hover) li>*:not(:hover) {
	opacity: 0.5;
}

.contact-info ul button:hover {
	cursor: pointer;
	border: 2px solid white;

	box-shadow: 0px 0px 6px 6px var(--purple-transparent);
}

#Contact aside embed {
	width: 40vw;
	height: 95vh;
	padding-left: 14%;
}
/* #endregion */
